<aside class="col-sm-4 sidebar sidebar-right">

    <div class="widget">
        <h4>{{ 'annonce.title'|trans }}</h4>
        <p>{{ 'annonce.desc'|trans }}:</p>
        <ul class="list-unstyled list-spaces">
            <li>- <span class="small text-muted">{{ 'poste.a'|trans }}</span></li>
            <li>- <span class="small text-muted">{{ 'poste.b'|trans }}</span></li>
            <li>- <span class="small text-muted">{{ 'poste.c'|trans }}</span></li>
            <li><img src="{{ asset('assets/images/i1.jpg') }}" alt=""></li>
            <li>- <span class="small text-muted">{{ 'poste.d'|trans }}</span></li>
            <li>- <span class="small text-muted">{{ 'poste.e'|trans }}</span></li>
            <li>- <span class="small text-muted">{{ 'poste.f'|trans }}</span></li>
        </ul>
    </div>

</aside>